            body {background-color: rgb(28, 29, 31);}

            ul {color: white;
                text-align: center;
                line-height: 50px;
                font-size: 25px;
                font-family: fantasy;
            }
            
            h1 {color: white;
                text-align: center;
                font-family: fantasy;

            }
            li {color: white;
            font-style: italic;
            
            }

            p {color: white;
                
            
            }

            h3 {color: white(255, 255, 255);
            text-decoration: none;
            text-align: center;
            font-family: fantasy;
            }

            .desc-blog {
                background-color: rgb(44, 44, 44);
            }

        #blog {
            text-decoration: none;
            background-color: rgb(44, 44, 44);
            color: white;
            
        }

        .item-hab{
            color: white;
            text-decoration: none;
            
        }

        .blog2 {
            border: 2px rgb(196, 0, 245) solid
        }
        .lista-hab {
            border: 2px rgb(0, 26, 255) solid
        }
        .minha-desc {
            
            text-decoration: none;
            color: rgb(0, 255, 64);
            border: 2px rgb(30, 255, 0) solid
        }
        .peq-indice {
            border: 2px rgb(255, 0, 0) solid;
            text-align: center;
            text-decoration: none;
            
            
        }

        .peq-indice li {
            display: inline;
            margin-right: 20px;
            text-decoration: none;
            
        }
